<%= form_for(@task) do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div class='form-group'>
  <%= f.label :details %>
  <%= f.text_field :details %>
  </div>

<div class='form-checkbox'>
 <%= f.check_box(:completed) %>
     <%= f.label(:completed) %>
</div>



  <%= f.submit class: 'btn btn-primary' %>
<% end %>
